*.psd filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
.txt filter=lfs diff=lfs merge=lfs -text
rna-prediction/movesets/move-set-11-14-2016.txt filter=lfs diff=lfs merge=lfs -text
